In [1]:
import pandas as pd
import numpy as np
import math

### Assignment 1 (due by midnight MST the day prior to Live Session 2)
#### Assignment 1, Part 1: 
Construct a CSV file with the first eight elements of the periodic table. Include columns for name, symbol, and atomic number. Read that into a pandas DataFrame. Inside the program, add a ninth and 10th element, and then add a column with the atomic weights rounded to the nearest integer.

In [7]:
#read in the periodic elements csv
elements = pd.read_csv("Periodic.csv")

In [9]:
#add 9th and 10th elements
adds = ['Flourine', 'Neon']
symbols = ['F', 'Ne']
aNum = [9,10]

for i in range(2):
    elements.loc[len(elements.index)] = [adds[i], symbols[i], aNum[i]]

In [12]:
#add columns of atomic weights
aWeight = [1.0078, 4.0026, 6.941, 9.0122, 10.811, 12.011, 14.007, 15.999, 18.998, 20.18]
aWround = []

for i in aWeight:
    temp = round(i)
    aWround.append(temp)

elements['Atomic Weight'] = aWround

In [13]:
elements

       Name Symbol  Atomic Number  Atomic Weight
0  Hydrogen      H              1              1
1    Helium     He              2              4
2   Lithium     Li              3              7
3  Berilium     Be              4              9
4     Boron      B              5             11
5    Carbon      C              6             12
6  Nitrogen      N              7             14
7    Oxygen      O              8             16
8  Flourine      F              9             19
9      Neon     Ne             10             20

#### Assignment 1, Part 2: 
Make a list of strings for nine Greek letters, for example ‘alpha’. Make that list such that the strings are not in alphabetic order. Make two 9-element numpy arrays of random floating-point numbers with an estimated mean of 10 and a standard deviation of 1.5. Make another array of nine elements ranging from zero to two times pi. Name it ‘angle’. Make another array holding the cosine of that ‘angle’ array. Construct a dictionary from all of the above. Form a DataFrame from that dictionary, and print it out. Sort the DataFrame ascending on the Greek letters, drop two columns of your choice, drop one of the rows, and print that out.

In [48]:
#initialize arrays and list

greek = ['Delta', 'Sigma', 'Phi', 'Pi', 'Beta', 'Alpha', 'Gamma', 'Theta', 'Chi']
n1 = np.random.normal(loc=10, scale=1.5, size=9)
n2 = np.random.normal(loc=10, scale=1.5, size=9)
angle = np.linspace(0, np.pi, 9)
cos = np.cos(angle)

In [49]:
#create dictionary
greekDict = {'Greek' : greek,
            'N1' : n1,
            'N2' : n2,
            'Angles' : angle,
            'Cosines' : cos}


print(greekDict)

{'Greek': ['Delta', 'Sigma', 'Phi', 'Pi', 'Beta', 'Alpha', 'Gamma', 'Theta', 'Chi'], 'N1': array([11.30729593, 11.47155765, 11.23136652, 13.55804315, 10.3447145 ,
       10.59058051, 11.21485991,  8.95331738, 12.87264397]), 'N2': array([11.03256568,  9.38698914,  9.34493493, 10.62255428, 10.95056221,
        7.29527756,  9.3583125 ,  9.91528939, 10.61059442]), 'Angles': array([0.        , 0.39269908, 0.78539816, 1.17809725, 1.57079633,
       1.96349541, 2.35619449, 2.74889357, 3.14159265]), 'Cosines': array([ 1.00000000e+00,  9.23879533e-01,  7.07106781e-01,  3.82683432e-01,
        6.12323400e-17, -3.82683432e-01, -7.07106781e-01, -9.23879533e-01,
       -1.00000000e+00])}

In [50]:
#create dataframe
greekDF = pd.DataFrame(greekDict)
greekDF

   Greek         N1         N2    Angles       Cosines
0  Delta  11.307296  11.032566  0.000000  1.000000e+00
1  Sigma  11.471558   9.386989  0.392699  9.238795e-01
2    Phi  11.231367   9.344935  0.785398  7.071068e-01
3     Pi  13.558043  10.622554  1.178097  3.826834e-01
4   Beta  10.344715  10.950562  1.570796  6.123234e-17
5  Alpha  10.590581   7.295278  1.963495 -3.826834e-01
6  Gamma  11.214860   9.358312  2.356194 -7.071068e-01
7  Theta   8.953317   9.915289  2.748894 -9.238795e-01
8    Chi  12.872644  10.610594  3.141593 -1.000000e+00

In [51]:
#sort datarame and drop 2 columns and 2 rows
greekDF.sort_values(by= ['Greek'], ascending=True, inplace= True)
greekDF.drop(['N2', 'Cosines'], axis=1, inplace=True)
greekDF.drop([6, 8], inplace = True)

greekDF

   Greek         N1    Angles
5  Alpha  10.590581  1.963495
4   Beta  10.344715  1.570796
0  Delta  11.307296  0.000000
2    Phi  11.231367  0.785398
3     Pi  13.558043  1.178097
1  Sigma  11.471558  0.392699
7  Theta   8.953317  2.748894

#### Assignment 1, Part 3: 
Write a program in Python to create and print out the first 12 Fibonacci numbers. Then iterate over the last five numbers to build another list with the ratio of each number to its predecessor. What do you observe about this latter list?

In [53]:
# display first 12 fibonacci numbers
def fibNums(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        # printing fibonacci numbers
        return fibNums(num-2)+fibNums(num-1)
  
  
for i in range(0, 12):
    print(fibNums(i), end = " ")

0 1 1 2 3 5 8 13 21 34 55 89

In [55]:
#find ratio of last 5 numbers to their predecessor

lastSix = [8, 13, 21, 34, 55, 89]
ratio = []

for i in range(1, len(lastSix)):
    num1 = lastSix[i-1]
    num2 = lastSix[i]
    valRat = num2/num1
    ratio.append(valRat)
    
print(ratio)

[1.625, 1.6153846153846154, 1.619047619047619, 1.6176470588235294, 1.6181818181818182]

##### Observation:
All of the values are very similar to each other, and they become more similar to each other when you compare values farther along in the sequence

#### Assignment 1, Part 4: 
Provide a function that converts temperature in Kelvin to Rankine. Make a list of five Kelvin temperatures, and print out their values in Rankine. Repeat using a lambda function.

In [56]:
#Kelvine to Rankine function

def KtoR(n):
    return n*1.8

In [58]:
#print out Rankine values for 5 Kelvin Temperatures using the previously defined function

kTemps = [1, 2, 3, 4, 5]

for i in kTemps:
    print(KtoR(i))

1.8
3.6
5.4
7.2
9.0

In [59]:
#print out Rankine values for 5 Kelvin Temperatures using a lambda function

lambdaK = lambda k: k*1.8

for i in kTemps:
    print(lambdaK(i))

1.8
3.6
5.4
7.2
9.0